html, body {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.menu {
    padding: 15px 20px 0px;
    
}

.header {
    display: flex;
    min-height: 100px;
}